.section {
    background-color: red;
    width: 1700px;
    border: 15px solid green;
    padding: 50px;
    margin: 50px;
    color: rgb(78, 78, 167);
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 20px;
    font-weight: bold;
};